# Mid-term Exam

Add cells to this notebook as you need for you solutions and your test of your solutions.

1. Write a function `first_alphabetically(lst)` that takes a list `lst` of strings and returns the string that is alphabetically first. For example, calling your function with the list of states:

In [0]:
states=['Mississippi', 'Maryland', 'Delaware', 'Connecticut', 'Virginia', 'Utah', 'Kansas',
        'Wyoming', 'Indiana', 'Louisiana', 'Missouri', 'Illinois', 'Minnesota', 'Vermont', 
        'New Mexico', 'North Dakota', 'Wisconsin', 'Tennessee', 'New York', 'Oklahoma', 
        'Colorado', 'Pennsylvania', 'West Virginia', 'Alabama', 'Montana', 'Texas', 
        'Washington', 'Michigan', 'New Hampshire', 'Arkansas', 'Hawaii', 'Iowa', 
        'Idaho', 'Kentucky', 'Ohio', 'Nebraska', 'Alaska', 'Oregon', 'South Dakota', 
        'New Jersey', 'Florida', 'Georgia', 'Rhode Island', 'Arizona', 'Maine', 
        'South Carolina', 'California', 'Nevada', 'Massachusetts', 'North Carolina']

should return the string `"Alabama"`. Note that you can compare strings:

In [0]:
def first_alphabetically(lst):

  minimum = lst[0]

  for i in lst:
    if i < minimum:
      minimum = i
      

  return minimum

In [0]:
first_alphabetically(states)

'Alabama'

In [0]:
print("A">"B")
print("B">"A")
print("A">"a")
print("bca">"bbc")

False
True
False
True

Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

2. Write a function `arg_first_alphabetically(lst)`, which does the same thing as in exercise 1 but returns the index of the first string alphabetically.

In [0]:
def arg_first_alphabetically(lst):
  minimum = lst[0]
  minindex = 0
  for count, state in enumerate(lst,1):
    if state < minimum:
      minimum = state
      minindex = count
  return minindex, minimum

In [0]:
arg_first_alphabetically(states)

(24, 'Alabama')

3. Use your result in question 2 to implement a function `arg_sort_alphabetically(lst)` that returns a list that is alphabetically sorted. Sorting can be accomplished by successively applying the function in question 1 and removing the first element alphabetically. You can remove an element from a list using `pop()`. Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

In [0]:
def minimum(lst):
  m = lst[0]
  for i in lst[0:]:
    if i < m:
      m = i
  return m

def arg_sort_alphabetically(lst):
  out = []

  while lst:
    small = minimum(lst)
    out.append(small)
    lst.pop(lst.index(small))

  return out

In [0]:
arg_sort_alphabetically(states)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

4. Implement a function `outer_product` that takes two one-dimensional lists of numbers and returns the two-dimensional outer product matrix defined as:

\begin{equation*}
\begin{pmatrix} x_1\\x_2\\ \vdots \\x_m \end{pmatrix} \begin{pmatrix} y_1&y_2& \dots &y_n\end{pmatrix} =
\begin{pmatrix}
x_1y_1 & x_1y_2 & \dots & x_1y_n\\
x_2y_1 & x_2y_2 & \dots & x_2y_n\\
\vdots & \vdots & \ddots & \vdots \\
x_my_1 & x_my_2 & \dots & x_my_n
\end{pmatrix}
\end{equation*}

In other words the elements of matrix C which is the outer product of A and B are $c_{ij} = a_i b_j$.

In [0]:
def zero_matrix(m,n):
    out=list()
    for i in range(m):
        row=list()
        for j in range(n):
            row.append(0.)
        out.append(row)
    return out

def matrix_shape(M):
        m=len(M)
        n=len(M[0])
        return m,n



def outer_product(xlst,ylst):
  m1,n1 = matrix_shape(xlst)
  m2,n2 = matrix_shape(ylst)
  M_out = zero_matrix(2,2)
  for i in range(m1):
    for j in range(n2):
      for k in range(0,m2):
        M_out[i][j] += xlst[i][k]*ylst[k][j]
  return M_out

In [0]:
A = [[2,
     0]]
B = [[4,0]]

outer_product(A,B)

[[8.0, 0.0], [0.0, 0.0]]

5. Implement a function `cumulative_sum(lst)` that takes a list of numbers and returns a list of same size where the element `i` is the sum of the elements `0` to `i` of the input list. For example given `[1,2,3]`, you should return [1,3,6].

In [0]:
def cumulative_sum(lst):
  l_sum = 0
  ans = []
  for i in lst:
    l_sum += i
    ans.append(l_sum)
  return ans

In [0]:
a = [1,2,3]

b = [1,3,6,9,15,24]

cumulative_sum(b)

[1, 4, 10, 19, 34, 58]

In [0]:
cumulative_sum(a)

[1, 3, 6]

6. Imagine you have a normal distributed random variable `x`. For example `x` can be grades on this exam. Using the normal distribution generator and histogram functions from lecture (provided below) and `cumulative_sum` from previous question to compute what is the value of $x_{90}$ in $\sigma$ such that 90% of the values $x$ are below $x_{90}$. In other words:

$$
\int_{-\infty}^{x_{90}} N(x;\mu=0,\sigma=1) dx = 0.9
$$

In [0]:
import math,random

def arange(x_min,x_max,steps=10):
    step_size=(x_max-x_min)/steps
    x=x_min
    out = list()
    for i in range(steps):
        out.append(x)
        x+=step_size
    return out

def generate_normal(N,m=0,s=1):
    out = list() 
    
    while len(out)<N:
      for i in range(int(float(N)/2)+1):
        U1=random.random()
        U2=random.random()
    
        out.append(s*math.sqrt(-2*math.log(U1))*math.cos(2*math.pi*U2)+m)
        out.append(s*math.sqrt(-2*math.log(U1))*math.sin(2*math.pi*U2)+m)

    return out[:N]

def histogram(data, n_bins=10,x_min=None, x_max=None):
    if x_min==None:
        x_min=min(data)
    if x_max==None:
        x_max=max(data)
        
    bin_edges = arange(x_min,x_max,n_bins)
    bin_edges.append(x_max)

    hist=[0]*n_bins
    
    for d in data:
        for i in range(n_bins):
            if d>=bin_edges[i] and d<bin_edges[i+1]:
                hist[i]+=1
                break
                
    return hist,bin_edges

In [32]:
a1 = generate_normal(90)
histogram(a,20)

([1, 1, 0, 2, 1, 5, 7, 9, 10, 8, 11, 9, 8, 4, 5, 2, 4, 1, 1, 0],
 [-2.8685125044366098,
  -2.5812910430095313,
  -2.2940695815824528,
  -2.0068481201553743,
  -1.7196266587282956,
  -1.4324051973012168,
  -1.1451837358741381,
  -0.8579622744470594,
  -0.5707408130199807,
  -0.28351935159290204,
  0.0037021098341766256,
  0.2909235712612553,
  0.578145032688334,
  0.8653664941154127,
  1.1525879555424914,
  1.43980941696957,
  1.7270308783966488,
  2.0142523398237273,
  2.301473801250806,
  2.5886952626778843,
  2.8759167241049632])

In [0]:
def x_val(a):
  for i in range(len(a)):
    if cumulative_sum(a)< 0.9:
      

  return x