# Mid-term Exam

Add cells to this notebook as you need for you solutions and your test of your solutions.

1. Write a function `first_alphabetically(lst)` that takes a list `lst` of strings and returns the string that is alphabetically first. For example, calling your function with the list of states:

In [0]:
states=['Mississippi', 'Maryland', 'Delaware', 'Connecticut', 'Virginia', 'Utah', 'Kansas',
        'Wyoming', 'Indiana', 'Louisiana', 'Missouri', 'Illinois', 'Minnesota', 'Vermont', 
        'New Mexico', 'North Dakota', 'Wisconsin', 'Tennessee', 'New York', 'Oklahoma', 
        'Colorado', 'Pennsylvania', 'West Virginia', 'Alabama', 'Montana', 'Texas', 
        'Washington', 'Michigan', 'New Hampshire', 'Arkansas', 'Hawaii', 'Iowa', 
        'Idaho', 'Kentucky', 'Ohio', 'Nebraska', 'Alaska', 'Oregon', 'South Dakota', 
        'New Jersey', 'Florida', 'Georgia', 'Rhode Island', 'Arizona', 'Maine', 
        'South Carolina', 'California', 'Nevada', 'Massachusetts', 'North Carolina']

should return the string `"Alabama"`. Note that you can compare strings:

In [0]:
print("A">"B")
print("B">"A")
print("A">"a")
print("bca">"bbc")
states[0].lower()

False
True
False
True

'mississippi'

In [0]:
def first_alphabetically(lst):
  lowest=lst[0]
  for i in range(len(lst)):
    test=lst[i]
    if test<lowest:
      lowest=test

  return lowest

In [0]:
first_alphabetically(states)

'Alabama'

Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

2. Write a function `arg_first_alphabetically(lst)`, which does the same thing as in exercise 1 but returns the index of the first string alphabetically.

In [0]:
def arg_first_alphabetically(lst):
  lowest=lst[0].lower()
  lowest_index=0
  for index, element in enumerate(lst):
    test=element.lower()
    if test<lowest:
      lowest=test
      lowest_index=index
  
  return lowest_index

In [0]:
arg_first_alphabetically(states)

23

3. Use your result in question 2 to implement a function `arg_sort_alphabetically(lst)` that returns a list that is alphabetically sorted. Sorting can be accomplished by successively applying the function in question 1 and removing the first element alphabetically. You can remove an element from a list using `pop()`. Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

In [0]:
def arg_sort_alphabetically(lst):
  out=[]

  while len(lst)>0:
    for index, element in enumerate(lst):
      low_index=arg_first_alphabetically(lst)
      low_word=first_alphabetically(lst)
      out.append(low_word)
      lst.pop(low_index)

  return out

In [0]:
arg_sort_alphabetically(states)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

4. Implement a function `outer_product` that takes two one-dimensional lists of numbers and returns the two-dimensional outer product matrix defined as:

\begin{equation*}
\begin{pmatrix} x_1\\x_2\\ \vdots \\x_m \end{pmatrix} \begin{pmatrix} y_1&y_2& \dots &y_n\end{pmatrix} =
\begin{pmatrix}
x_1y_1 & x_1y_2 & \dots & x_1y_n\\
x_2y_1 & x_2y_2 & \dots & x_2y_n\\
\vdots & \vdots & \ddots & \vdots \\
x_my_1 & x_my_2 & \dots & x_my_n
\end{pmatrix}
\end{equation*}

In other words the elements of matrix C which is the outer product of A and B are $c_{ij} = a_i b_j$.

In [0]:
def zero_matrix(m,n):
    out=list()
    for i in range(m):
        row=list()
        for j in range(n):
            row.append(0)
        out.append(row)
    return out

zero_matrix(3,3)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [0]:
def outer_product(a,b):
  row_a=len(a)
  col_b=len(b)
  M_out=zero_matrix(row_a,col_b)
  out=[]

  for i in range(row_a):
    for j in range(col_b):
      M_out[i][j]+=a[i]*b[j]

  return M_out

In [0]:
B=[1,2,3]
A=[2,4,6]

In [0]:
outer_product(A,B)

[[2, 4, 6], [4, 8, 12], [6, 12, 18]]

5. Implement a function `cumulative_sum(lst)` that takes a list of numbers and returns a list of same size where the element `i` is the sum of the elements `0` to `i` of the input list. For example given `[1,2,3]`, you should return [1,3,6].

In [0]:
def cumulative_sum(lst):
  csum=0
  new_lst=[]

  for i in range(len(lst)):
    if i==0:
      new_lst.append(lst[0])
    else:
      new_lst.append(new_lst[i-1]+lst[i])

  return new_lst

In [0]:
num=[1,2,3]
cumulative_sum(num)

[1, 3, 6]

In [0]:
x=[1,2,4,5,6]
cumulative_sum(x)

[1, 3, 7, 12, 18]

6. Imagine you have a normal distributed random variable `x`. For example `x` can be grades on this exam. Using the normal distribution generator and histogram functions from lecture (provided below) and `cumulative_sum` from previous question to compute what is the value of `x_{90}` in $\sigma$ such that 90% of the values $x$ are below `x_{90}`. In other words:

$$
\int_{-\infty}^{x_{90}} N(x;\mu=0,\sigma=1) dx = 0.9
$$

In [0]:
import math
import random

def generate_normal(N,m=0,s=1):
    out = list() 
    
    while len(out)<N:
#    for _ in range(int(float(N)/2)+1):
        U1=random.random()
        U2=random.random()
    
        out.append(s*math.sqrt(-2*math.log(U1))*math.cos(2*math.pi*U2)+m)
        out.append(s*math.sqrt(-2*math.log(U1))*math.sin(2*math.pi*U2)+m)

    return out[:N]

def histogram(data, n_bins=10,x_min=None, x_max=None):
    if x_min==None:
        x_min=min(data)
    if x_max==None:
        x_max=max(data)
        
    bin_edges = arange(x_min,x_max,n_bins)
    bin_edges.append(x_max)

    hist=[0]*n_bins
    
    for d in data:
        for i in range(n_bins):
            if d>=bin_edges[i] and d<bin_edges[i+1]:
                hist[i]+=1
                break
                
    return hist,bin_edges